@charset "utf-8";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
  background: #2c3338;
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0px;
}

header{
  background-color: #fff;
  width: 100%;
  margin: 0px;
}
.logout{
  margin: 0px 10px 10px 10px;
  padding-top: 1px;
  width: 180px;
}
.logout input{
  margin-bottom: 5px;;
}
.logout form input[type="submit"] {
  background: #b5cd60;
  border: 0;
  width: 50%;
  height: 40px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.login_hack{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.login_hack input[type="submit"]{
  border: none;
  height: 50px;
  width: 200%;
  background: #c12a2a;
}
.table_firme_delegat{

  margin: 0px;
}
.table_firme_delegat caption{
  font-size: 150%;
}
.table_firme_delegat td{
  text-align: center;
}
.table_firme_delegat input{
  width: 90%;
}
